h1, h2 {
    font-family: 'Aboreto', cursive;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: radial-gradient(khaki, darkseagreen);
    min-height: 100vh;
}

button {
    border-radius: 5px;
    padding: 6px 10px;
    border:none;
    background-color: #8FBC8F;
}

.icon-button {
    background-color: transparent;
}

input {
    margin: 5px 0;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes-form {
    width: 50%;
    min-width: 20rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.quotes-list {
    width: 60%;
    min-width: 25rem;
    margin: auto;
    text-align: left;
}
