h1, h2 {
    font-family: 'Aboreto', cursive;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 5rem;
    padding: 5px;
}


.quotes-form {
    width: 50%;
    min-width: 20rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.quotes-list {
    width: 60%;
    min-width: 25rem;
    margin: auto;
    text-align: left;
}
